{{ define "main" }}

{{ $Pages := .Pages }}

{{ $home := .IsHome }}
{{ if .IsHome }}
  {{ $Pages = .Site.RegularPages }}
{{ end }}

<h1>{{ .Title }}</h1>
<p>{{ .Site.Params.homeText | markdownify }}</p>

{{ range $Pages.GroupByDate "2006" }}
<h2 class="year">{{ .Key }}</h2>
<ul>
    {{ range (where .Pages "Section" "!=" "") }}
	<li class="stylePost">
        <span class="date">{{ .Date.Format "2006/01/02" }}</span>
		<a href="{{ .RelPermalink }}">{{ .Title | markdownify }}</a>
	</li>
	{{ end }}
</ul>
{{ end }}
{{ partial "footer.html" . }} {{end}}